{
  "extends": "@soluzioni-futura/eslint-config-soluzioni-futura",
  "ignorePatterns": [
    "dist/**/*",
    "node_modules/@types/eventsource/*"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "rules": {
        "@typescript-eslint/member-delimiter-style": [
          "error",
          {
            "multiline": {
              "delimiter": "comma",
              "requireLast": false
            },
            "singleline": {
              "delimiter": "comma",
              "requireLast": false
            }
          }
        ]
      }
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.test.json"
  }
}
